page-pre-primary {
    .content {
        background-image: url('../assets/images/points-of-interest/pre-primary/cover.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }


    h2 {
        color: white;
        float: right;
    }
    
    img {
        position: absolute;
        width: 250px;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }

    #one {
        top: 20px;
        left: 50px;
    }

    #two {
        bottom: 140px;
        left: 50px;
    }
    
    #three {
        bottom: 140px;
        left:0;
        right:0;
        margin-left:auto;
        margin-right:auto;
    }

    #four {
        bottom: 140px;
        right: 50px;
    }
}
