page-point-of-interest {
    .content {
        // background-image: url('../assets/images/points-of-interest/pre-primary/cover.jpg');
        // background-size: cover;
        // background-repeat: no-repeat;
    }

    .card {
        height: 100%;
        width: 80%;
        margin: auto;
        
        h2 {
            // color: white;
            // float: right;
            width: 100%;
        }
        
        img {
            width: 100%;
            margin: auto;
            display: block;
        }
    }

    .chevron {
        position: absolute;
        top: 0;
        bottom: 70px;
        margin: auto;
        font-size: 144px;
    }

    .left{
       left: 10px;
    }

    .right {
        right: 10px;
    }
}
