app-home {
    position: relative;
    width: 100%;
    display: block;
    height: 100%;
}

#map {
  display: block;
  width: 100%;
  height: 100%;
}

.pin-btn {
  background-color: transparent;
  line-height: 15pt;
  font-size: 12pt;
  // color: color($colors, primary);
}

[title="Show 45 degree: view"]
{
    display:none;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  background-color: rgba(19,74,128,0.9);
  z-index: 1000 !important;
  color: white;
  padding-left: 120px;

  h1 {
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 1px;
  }

  h2 {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
  }

  .badge {
    background: url(../../assets/images/badge.png) no-repeat;
    background-size: contain;
    width: 75px;
    height: 160px;
    z-index: 9999;
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .help {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;    
    background-color: #ffd046;
    font-size: 22px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
  }
}
